.search-bar {
  width: 100%;

  &__container {
    position: relative;
  }
    
  &__input {
    display: block;
    width: 100%;
    padding: var(--spacing-2) var(--spacing-3) var(--spacing-2) 0; // pl-10
    border-bottom: 1px solid var(--color-black);
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: var(--leading-5);
    background-color: var(--color-white);
    font-size: var(--text-base);
    transition: var(--transition-colors);
    margin-bottom: var(--spacing-3);
    
    &::placeholder {
      color: var(--color-gray-500);
    }
    
    &:focus {
      outline: none;
      border-color: var(--color-gray-500);
      box-shadow: 0 0 0 1px var(--color-gray-500);
      
      &::placeholder {
        color: var(--color-gray-400);
      }
    }
  }
  
}

.selector {
  border: none;

  &__label {
    font-size: var(--text-xs);
    font-weight: 600;
    color: var(--color-gray-700);
    margin-bottom: var(--spacing-3);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  &__options {
    display: flex;
    gap: var(--spacing-3);
  }

  &.storage-selector .selector__options{
    gap: 0;
  }
  
  // Style the radio button input to be accessible but visually hidden
  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
} 